
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

doctype html

section.discover
    header
        tg-discover-search-bar(on-change="vm.onSubmit(q)")

    section.welcome-message
        div.welcome-inner
            h2 Benvinguts a Taiga ESSI
            p Gestioneu els vostres projectes de manera àgil i eficient.
            p Aquesta plataforma us permet coordinar equips, seguir el progrés i documentar la feina feta.
            a.button-cta(href="/login") Accedeix aquí

    tg-featured-projects

    section.highlighted
        tg-most-liked
        tg-most-active

