
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

doctype html

section.discover
    header
        tg-discover-search-bar(on-change="vm.onSubmit(q)")

    section.welcome-message
        div.welcome-inner
            h2(translate="DISCOVER.HOME.TITLE")
            p(translate="DISCOVER.HOME.SUBTITLE_1")
            p(translate="DISCOVER.HOME.SUBTITLE_2")
            a.button-cta(href="/login", translate="DISCOVER.HOME.ACCESS_BUTTON")

    tg-featured-projects

    section.highlighted
        tg-most-liked
        tg-most-active

